.container{
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 20px #606060;
    padding: 20px 10px;
}

.container table {
    margin: 0 auto;
    width: 700px;
}