.narbar {
    background-color: #00004b;
    text-align: center;
    padding: 20px 0;
}
.narbar >a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    padding: 8px;
}

.narbar >a:hover {
    color: brown
}