.narbar {
    background-color: black;
    text-align: center;
    padding: 20px 0;
}
.narbar >a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
}

.narbar >a:hover {
    color: brown
}